<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signup</title>

    <link href="~/CSS/partialstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col left">
            <h3>Sign In with:</h3>
        </div>
        <div class="col right">
            <button class="btn facebook" data-provider="facebook"><i></i><span>Facebook</span></button>
            <button class="btn twitter" data-provider="twitter"><i></i><span>Twitter</span></button>
            <button class="btn plus" data-provider="google plus"><span class="i"><i></i></span><span>Google Plus</span></button>
        </div>
    </div>
    </body>
</html>
